
<div class="container mt-3">

    <div class="row justify-content-between">
        <% @users.each do |user| %>
            <div class="p-3 mb-3 bg-secondary rounded col-md-8 offset-md-2 text-white">
                <%= user.first_name %> <%= user.last_name %>
                <% if current_user.friendships.where(friend_id: user.id).size  == 0 && current_user.id != user.id %>
                    <%= form_for @friendship do |f| %>
                        <%= hidden_field_tag "friend_id", "#{user.id}" %>
                        <%= hidden_field_tag "confirmed", "false" %>
                        <div class="actions">
                            <%= f.submit "Add friend", class: "form-control btn btn-success mt-1" %>
                        </div>
                    <% end %>
                <% end %>
            </div>
        <% end %>
    </div>
</div>