<nav class="navbar navbar-fixed-top navbar-expand-lg navbar-light bg-primary">
<div class="container">

  <%= link_to "Facebook", root_path, class: "text-success" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item"><%= link_to 'Sign Out', destroy_user_session_path, class: 'text-danger' %></li>
        <li class="nav-item"><%= link_to 'Users', user_registration_path, class: 'text-danger' %></li>
        <li class="nav-item"><%= link_to 'Sign in', user_session_path, class: 'text-danger' %></li>
        <li class="nav-item"><%= link_to 'Sign up', new_user_registration_path, class: 'text-danger' %></li>
    </ul>
  </div>
</div>
</nav>