<!DOCTYPE html>
<html>
  <head>
    <title>FacebookClone</title>
    <%= render 'layouts/bootstrap'%>
    <%= render 'layouts/default'%>
  </head>

  <body>
    <%= render 'layouts/header'%>
    <div class="container">
      <%= render 'layouts/flash_msg'%>
      <%= yield %>
      <%= render 'layouts/footer'%>
    </div>
    <div class="well">
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
